<% if (Array.isArray(opt.stamps)) { %>
  <ul class="stamps">
      <% opt.stamps.forEach(({ src, alt, link }) => { %>
      <% if (link) { %>
        <li>
          <a href="<%= link %>" target="_blank" rel="noopener">
            <img src="<%= src %>" alt="<%= alt %>">
          </a>
        </li>
        <% } else { %>
        <li>
          <img src="<%= src %>" alt="<%= alt %>">
        </li>
      <% } %>
    <% }) %>
    <li>
    <img src="//cl.avis-verifies.com/br/cache/8/c/7/8c7c2c69-7520-d754-f544-483d6a0625cb/widget3/widget01-3835.png" alt="WidgetAvisVerifies"   width="160">
    </li>
    <%- await include('@/helpers/widgets-append', {
      _, opt: {}, field: 'stampsAppend'
    }) %>
  </ul>
<% } %>

